@model IEnumerable<ProjekTeFa.Models.PKB>

@{
    Layout = "~/Views/Shared/LayoutMekanik.cshtml";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Antrian Service </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Service</li>
        <li class="breadcrumb-item active" aria-current="page">Antrian Service</li>
    </ol>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card" style="padding: 20px 20px 20px 20px;">
            <div class="table-responsive">
                <table id="table" class="table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tanggal Service</th>
                            <th>Jenis Kendaraan</th>
                            <th>Merk</th>
                            <th>Nomor Polisi</th>
                            <th>Tahun Pembuatan</th>
                            <th>Tempat Pengerjaan</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var no = 1;
                        }
                        @foreach (var obj in Model)
                        {
                            <tr>
                                <td>@no</td>
                                <td>@obj.Booking.aktual_service_tanggal.Value.ToString("D")</td>
                                <td>@obj.Booking.jenis_kendaraan</td>
                                <td>@obj.Booking.merk_kendaraan</td>
                                <td>@obj.Booking.nomor_polisi</td>
                                <td>@obj.Booking.tahun_pembuatan</td>
                                <td>@obj.TempatKerja.keterangan_tempat</td>
                                <td style="color:#fff">
                                    <a class="btn btn-success btn-sm" asp-action="Selesai" asp-route-id="@obj.id_pkb">
                                        <i class="fa fa-check" data-toggle="tooltip" title="Ambil Service"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm" asp-action="DetailServiceSudah" asp-route-id="@obj.id_pkb">
                                        <i class="fa fa-list" data-toggle="tooltip" title="Detail Service"></i>
                                    </a>
                                </td>
                            </tr>
                            no++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable();
    });

    //$(document).ready(function () {
    //    $('#table2').DataTable();
    //});
</script>
<script>
    if ("@TempData["Selesai"]" != "") {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success mx-3 text-white',
                cancelButton: 'btn btn-danger mx-3 text-white'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Pekerjaan Selesai',
            text: "Apakah kalian yakin menyelesaikan pekerjaan ini?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya!',
            cancelButtonText: 'Batal!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Berhasil!',
                    'Pekerjaan Berhasil Diselesaikan',
                    'success'
                ).then((value) => {
                    window.location = "@Url.Action("KonfirmasiSelesai", "ServiceMekanik", new { id = @TempData["ID"] })";
                });
            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {

            }
        })
    }
</script>
